<iw-array-cell [row]="row" [column]="column">
  <template let-subrow="$implicit" let-itemIndex="index">
    <div class="cell-list-item" [class.cell-list-item--extended]="itemIndex > 0">
      <strong *ngIf="isSubColumnVisible('faculty')">
          {{ subrow.faculty | defaultValue }}
        </strong>

        <strong *ngIf="isSubColumnVisible('university')">
          {{ subrow.university | defaultValue }}
        </strong>

        <div *ngIf="isSubColumnVisible('degree')">
          Degree: {{ subrow.degree | defaultValue }}
        </div>
    </div>
  </template>
</iw-array-cell>
