<div class="dropdown" dropdown>
  <a  dropdown-open>{{row[column.config.id].length}}  studies</a>
  <div class="dropdown-menu">
    <div class="dropdown-content" *ngFor="let subrow of row[column.config.id]" >
      <div class="cell-list-item" dropdown-not-closable-zone>
        <strong *ngIf="isSubColumnVisible('faculty')" >
          {{ subrow.faculty | defaultValue }}
        </strong>

        <strong *ngIf="isSubColumnVisible('university')">
          {{ subrow.university | defaultValue }}
        </strong>

        <div *ngIf="isSubColumnVisible('degree')">
          Degree: {{ subrow.degree | defaultValue }}
        </div>
      </div>
    </div>
  </div>
</div>
