<h1>
  Data Table
</h1>

<p>
  This demo application demonstrates the examples from README (in the same order).
  <a href="https://github.com/zorec/ng2-pack/blob/master/src/app/app.component.html">
    The source code is located here.
  </a>
</p>

<label for="demo-selection">
  Select an example:
</label>
<iw-dropdown-select
  id="demo-selection"
  [allowClear]="false"
  [items]="demoExamples"
  [(ngModel)]="active">
</iw-dropdown-select>
<br>


<div [hidden]="active !== 'simple'">
  <p>
    This table was initialized purely from the random data without any additional configuration.
  </p>
  <iw-table [rows]="rows"></iw-table>

  The random data:
  <pre>
    {{rows | json}}
  </pre>
</div>

<div [hidden]="active !== 'all-options'">
  <ul>
    <li>We are listening to all events and printing summary above the table. The details (event name and object) is also printed in the console.</li>
    <li>Visible columns are limited to {{visibleColumns | json}}</li>
    <li>Sorting is switched to external (back-end) mode (note that the server-side sorting is not implemented for the demo so the results will simply not be sorted).</li>
    <li>...</li>
  </ul>
  <div>
    <b>Event summary:</b>
    <p *ngFor="let action of actionList">{{action}}</p>
  </div>
  <iw-table
    [rows]="rows"
    [columnsConfig]="columnsConfig"
    [visibleColumns]="visibleColumns"
    reorderingEnabled="true"
    rowsSortingMode="external"
    changeColumnVisibility="true"
    language="de"
    initialSortColumn="firstName"
    (rowClick)="onAction($event, 'Row click at position [' + $event.rowIndex  + ' , ' + $event.columnIndex + ']')"
    (sortColumnInit)="onAction($event, 'Sort init!')"
    (sortColumn)="onAction($event, 'Column `' + $event.column + '` was sorted in the direction `' + $event.direction + '`')"
    (addingColumn)="onAction($event, 'Column is being added at position ' + $event.index)"
    (addColumn)="onAction($event, 'Column ' + $event.column + ' was added')"
    (removeColumn)="onAction($event, 'Column ' + $event.column + ' was removed')"
    (visibleColumnsChange)="onAction($event, 'Visible columns changed to: ' + $event)"
    >
  </iw-table>
</div>

<div [hidden]="active !== 'extension'">
  <p>
  The library is designed to be easily integrated with other external components, e.g. pagination.
  </p>
  <div>
    <iw-pagination
    #p
    [totalItems]="rows.length"
    [itemsPerPage]="5"
    (pageChange)="onPageChange(p.pageStart, p.pageEnd)" ></iw-pagination>
  </div>
  <iw-table [rows]="paginatedRows" [columnsConfig]="columnsConfig" rowsSortingMode="external">
  </iw-table>
</div>

<div [hidden]="active !== 'custom-template'">
  <p>
    In this example, the look of the studies cell is customized with custom template defined by application (not the library). Table rows are also made sortable.
  </p>
  <iw-table
    [bodyRowTemplate]="bodyRowTemplate"
    [columnsConfig]="columnsConfig"
    [rows]="rows"
    #tableComponent>
    <ng-template #bodyRowTemplate let-row let-i="index">
      <tr iwSortableItem>
        <ng-template ngFor let-columnName [ngForOf]="tableComponent.visibleColumns">
          <td
            [class]="isCustomField(columnName)"
            *ngIf="!isCustomField(columnName)"
            iw-td
            [column]="tableComponent.columnsLookup[columnName]"
            [row]="row">
          </td>
          <td *ngIf="isCustomField(columnName)">
            <iw-studies-cell
              [row]="row"
              [column]="tableComponent.columnsLookup['studies']">
          </iw-studies-cell>
          </td>
        </ng-template>
        <td *ngIf="tableComponent.changeColumnVisibility"></td>
      </tr>
    </ng-template>
  </iw-table>
</div>

<!-- NOTE: example for sortable utility -->
<!--
  <table class="table rows-reordering">
  <tr>
    <th>Salutation</th>
    <th>First name</th>
    <th>Last name</th>
    <th>ID</th>
  </tr>
  <ng-template ngFor let-person [ngForOf]="rows" let-index="index">
    <tr iwSortableItem dropArea="rows">
      <td>{{index}}</td>
      <td>{{person.salutation}}</td>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.id}}</td>
    </tr>
  </ng-template>
</table>
-->
