<h1>
  Data table component
</h1>

<a href="https://github.com/zorec/ng2-pack/blob/refactor/state-management/src/app/app.component.html">
  The source code of this demo is located here.
</a>

<h3>1. Convention over configuration</h3>
<p>There is only one required input &mdash; rows data attribute. All other attributes have default values. For example, columns configuration is initialized according to row keys and values. All keys are visible by default.</p>
<iw-table [rows]="rows"></iw-table>

<!-- NOTE: language should be set globally -->
<h3>2. Customization with all available inputs and outputs</h3>
<p>
  Default values can be overwritten. Here is a list of all inputs and outputs. In this case, the inline editing is enabled, and language is changed to German.
</p>
<div>
  <p *ngFor="let action of actionList">{{action}}</p>
</div>
<iw-table
  [rows]="rows"
  [columnsConfig]="columnsConfig"
  [visibleColumns]="visibleColumns"
  reorderingEnabled="true"
  inlineEditingEnabled="true"
  rowsSortingMode="external"
  changeColumnVisibility="true"
  language="de"
  initialSortColumn="firstName"
  (rowClick)="onAction('Row nr.' + $event.rowIndex  + ' was clicked')"
  (sortColumnInit)="onAction('Sort init!')"
  (sortColumn)="onAction('Column `' + $event.column + '` was sorted in the direction `' + $event.direction)"
  (addingColumn)="onAction('Column is being added at position ' + $event.index)"
  (addColumn)="onAction('Column ' + $event.column + ' was added')"
  (removeColumn)="onAction('Column ' + $event.column + ' was removed')"
  (visibleColumnsChange)="onAction('Visible columns changed to: ' + $event)"
  (editCell)="onAction('The cell in row ' + $event.rowIndex + ' and column ' + $event.column + ' was edited to value ' + $event.newValue)"
  >
</iw-table>


<h3>3.A Custom template (customized table footer)</h3>
You can provide a component template inside a iw-table element, where smaller composite directives can be used for not customized parts of the template. We use subcomponents 'iw-theader' and 'iw-tbody' to render table header and body.
<iw-table [rows]="paginatedRows" [columnsConfig]="columnsConfig" rowsSortingMode="external">
  <template>
    <table class="results-table table table-bordered table-striped">
      <thead iw-thead></thead>
      <tbody #tbodyComp iw-tbody></tbody>
      <!-- customized table footer  -->
      <tr>
        <th [attr.colspan]="tbodyComp.visibleColumns.length + 1">
          <iw-pagination #p [totalItems]="rows.length" (pageChange)="onPageChange(p.pageStart, p.pageEnd)" ></iw-pagination>
        </th>
      </tr>
    </table>
  </template>
</iw-table>

<h3>3.B Custom template (Customized body cells)</h3>
<p>
  In this example, display of some cells is customized. We are using a public API of table component to get visibleColumns and get column state for specific a field.
</p>
<iw-table
  [columnsConfig]="columnsConfig"
  [rows]="rows"
  [visibleColumns]="['firstName', 'email', 'studies']"
  #tableComponent>
  <template>
    <table class="results-table table table-bordered table-striped">
      <thead iw-thead></thead>
      <tbody>
        <tr *ngFor="let row of rows; let rowIndex = index">
          <template ngFor let-columnName [ngForOf]="tableComponent.visibleColumns">
            <td
              [class]="isCustomField(columnName)"
              *ngIf="!isCustomField(columnName)"
              iw-td
              [column]="tableComponent.columnsLookup[columnName]"
              [row]="rows[rowIndex]">
            </td>
            <td *ngIf="isCustomField(columnName)">
              <iw-studies-cell
                [row]="row"
                [column]="tableComponent.columnsLookup['studies']">
            </iw-studies-cell>
            </td>
          </template>
          <td></td>
        </tr>
      </tbody>
    </table>
  </template>
</iw-table>


<!-- NOTE: example for sortable utility -->
<!--
  <table class="table rows-reordering">
  <tr>
    <th>Salutation</th>
    <th>First name</th>
    <th>Last name</th>
    <th>ID</th>
  </tr>
  <template ngFor let-person [ngForOf]="rows" let-index="index">
    <tr iwSortableItem dropArea="rows">
      <td>{{index}}</td>
      <td>{{person.salutation}}</td>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.id}}</td>
    </tr>
  </template>
</table>
-->
